<div class="friend-grid">
  <div class="bg-friend-list-cards">
    <div>
      <h2 class= "text-center my-3">My Friends</h2>
        <ul class="row">
          <% @friends.each do |friend| %>
            <% if friend.confirmed == true %>
              <%if friend.asker_id == current_user.id %>
                <li class="list-friends">
                  <% @user = User.find(friend.receiver_id) %>
                  <%= cl_image_tag @user.avatar.key, class: "avatar-friend" %>
                  <p class="text-center mt-5"><strong><%= @user.full_name %></strong></p>
                  <%= link_to friend_path(friend),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
                    <i class="fa-solid fa-user-minus fa-xl text-danger delete-friend"></i>
                  <% end %>
                  <% if Chatroom.find_by(friend_id: friend.id) != nil %>
                    <%= link_to chatroom_path(Chatroom.find_by(friend_id: friend.id)) do%>
                      <i class="fa-solid fa-message fa-xl chat-icon"></i>
                    <% end %>
                  <% end %>
                </li>
              <% elsif  friend.receiver_id == current_user.id%>
                <li class="list-friends ">
                  <% @user = User.find(friend.asker_id) %>
                  <%= cl_image_tag @user.avatar.key, class: "avatar-friend" %>
                  <p class="text-center mt-5"><strong><%= @user.full_name %></strong></p>
                  <%= link_to friend_path(friend),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
                    <i class="fa-solid fa-user-minus fa-xl text-danger delete-friend"></i>
                  <% end %>
                  <% if Chatroom.find_by(friend_id: friend.id) != nil %>
                    <%= link_to chatroom_path(Chatroom.find_by(friend_id: friend.id)) do%>
                      <i class="fa-solid fa-message fa-xl chat-icon"></i>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="bg-friend-list-requests">
    <h2 class= "text-center my-3">My Requests</h2>
      <ul class="list-request">
        <% @friends.each do |friend| %>
          <li class="d-flex flex-row">
            <% if friend.confirmed == false %>
              <% if friend.asker_id == current_user.id %>
                <% @user = User.find(friend.receiver_id) %>
                <%= cl_image_tag @user.avatar.key, class: "avatar-friend" %>
                <p class="friend-name"><%= @user.full_name %></p>
              <% elsif friend.receiver_id == current_user.id  %>
                <% @user = User.find(friend.asker_id) %>
                <%= cl_image_tag @user.avatar.key, class: "avatar-friend" %>
                <p class="friend-name"><%= @user.full_name %></p>
                <%= button_to [current_user, friend], class: "bg-check", method: 'patch' do %>
                  <i class="addfriend fa-solid fa-check fa-2xl" style="color: #3ade0d;"></i>
                <% end %>
                <%= link_to friend_path(friend),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do  %>
                  <i class="fa-solid fa-ban delete-request fa-2xl" style="color: #d31212;"></i>
                <% end %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
