<%= link_to "Events List", events_path, class:"btn btn-primary"%>

<div class="user-home-page d-flex flex-column">
  <%# SUGGESTED EVENTS CAROUSEL %>
  <div class="home">
    <div class="home-popular">
      <h3>Events near you</h3>

      <div class="slider">
        <div class="slider-prev"></div>
        <% @events_location.each_with_index do |event, index| %>
          <ul class="carousel-ul">
            <li class="carousel-event-list">
              <% if index == 0 %>
                <img class="item small1" style="order: <%= index %>;" src="<%= event.event_img %>" alt="">
              <% elsif index == 1 %>
                <img class="item big1" style="order: <%= index %>;" src="<%= event.event_img %>" alt="">
              <% elsif index == 2 %>
                <img class="item focus" style="order: <%= index %>;" src="<%= event.event_img %>" alt="">
              <% elsif index == 3 %>
                <img class="item big2" style="order: <%= index %>;" src="<%= event.event_img %>" alt="">
              <% elsif index == 4 %>
                <img class="item small2" style="order: <%= index %>;" src="<%= event.event_img %>" alt="">
              <% end %>
            </li>
          </ul>
        <% end %>
        <div class="slider-next"></div>
      </div>
    </div>
  </div>

  <%# NEXT EVENTS CARDS %>
  <div class="next-events">
    <h2 class="home-sub-heading">Next Events</h2>
    <div class="events-cards-grid">
      <% @events_home.select { |event| (event.event_date - Date.today).to_i >= 0 }
                  .sort_by { |event| (event.event_date - Date.today).to_i }
                  .each do |event| %>
        <%= link_to event_path(event) do %>
          <div class="next-event-card">
            <img src="<%=event.event_img%>" alt="" class="card-img">
            <div class="card-info">
              <h4><strong><%= event.title %></strong></h4>
              <h5><%= event.event_date.strftime("%B ") + event.event_date.day.ordinalize %></h5>
              <% if (event.event_date - Date.today).to_i.zero? %>
                <p><em><strong style="color: #4CAF50;">Today!</strong></em></p>
              <% elsif (event.event_date - Date.today).to_i > 0 %>
                <p><em>in <strong style="color: red;"><%= (event.event_date - Date.today).to_i %></strong> days</em></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
