<%= link_to "Events List", events_path, class:"btn btn-primary"%>

<div class="user-home-page d-flex flex-column">
  <div class="carousel">
    <%# FAZER CARROSSEL %>
  </div>

  <%################ NEXT EVENTS CARDS ################%>
  <h2 class="next-event-heading">Next Events</h2>
  <div class="events-cards-grid">
    <% @events_home.select { |event| (event.event_date - Date.today).to_i >= 0 }
                  .sort_by { |event| (event.event_date - Date.today).to_i }
                  .each do |event| %>
      <%= link_to event_path(event) do %>
        <div class="next-event-card">
            <img src="<%=event.event_img%>" alt="" class="card-img">
          <div class="card-info">
            <h4><strong><%= event.title %></strong></h4>
              <h5><%= event.event_date.strftime("%B ") + event.event_date.day.ordinalize %></h5>
              <% if (event.event_date - Date.today).to_i.zero? %>
                <p><em><strong style="color: #4CAF50;">Today!</strong></em></p>
              <% elsif (event.event_date - Date.today).to_i > 0 %>
                <p><em>in <strong style="color: red;"><%= (event.event_date - Date.today).to_i %></strong> days</em></p>
              <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
