<div class="container2 show-events" >
  <div class="my-2 show-events-cards style="gap: 0 10px;">
    <% @events.each do |event| %>
      <div class="card my-3">
        <div class="row h-100 w-100">
          <div class="col-6 p-0">
            <div style="background-image: url('<%=event.event_img%>');
                        background-size: cover;
                        height: 100%;
                        width: 100%;
                        background-position:center;"></div>
          </div>
          <div class="col-6 card-body">
            <h5 class="card-title"><%= event.title%></h5>
            <p class="card-text"><%= event.event_date %></p>
            <%= link_to "See more", event_path(event), class:"btn btn-primary position-absolute bottom-0 end-0"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id='map' class="col-4 m-4 w-100" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"  data-map-user-location-value="<%= @user_location.to_json %>" data-map-target="show_map">
  </div>
</div>
