<div class="container my-4">
  <% @events.each do |event| %>
    <a href="<%=event_path(event) %>" class="text-decoration-none"><strong>
      <div class="card my-3 d-grid " style="max-width: 50%">
        <div class="row">
          <div class="col-4">
            <img src="<%=event.event_img%>" class="rounded-start img-fluid" >
          </div>
          <div class="col-8 card-body">
            <h5 class="card-title"><%= event.title%></h5>
            <p class="card-text"><%= event.event_date %></p>
          </div>
        </div>
      </div>
    </strong></a>
  <% end %>
  <%= link_to "Back to home", root_path, class:"btn btn-primary"%>
</div>
