<div class="">
  <div class="event-show-display-grid p-5 border mx-5  justify-content-left mt-5">
    <div class="d-inline-flex align-items-center px-4">
      <img src=<%=@event.event_img%> class="img-fluid" alt="...">
    </div>
    <div class=" event-show-display-text p-4">
      <h1><strong><%= @event.title %></strong></h1>
      <h4><%= @event.description %></h4>
      <br>
      <h4><strong>Event date:</strong> <%= @event.event_date %></h4>
      <% if @event.user_id != current_user.id %>
        <% if !@participantdestroy.nil? %>
            <%= link_to "Leave Event", participant_path(@participantdestroy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger border-0 my-3 rounded-3 text-white" %>
          <% else %>
            <%= simple_form_for [@event, @participant] do |f| %>
            <%= f.button :submit, 'Join Event', class: "btn btn-primary border-0 my-3 rounded-3" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="p-5 border mx-5">
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <h2>Add a post</h2>
            <%= simple_form_for [@event, @post] do |f| %>
              <%= f.input :content %>
              <%= f.submit class: "btn btn-primary border-0 my-3 rounded-3" %>
            <% end %>
            <h4>Posts</h4>
            <div class="comments-container">
              <ul id="comments-list" class="comments-list">
                <li>
                  <% @posts.each do |post| %>
                    <div data-controller="comments">
                      <div class="comment-main-level">
                        <div class="comment-avatar">
                            <%= image_tag post.user.profile_img %>
                        </div>
                        <div class="comment-box">
                          <div class="comment-head">
                            <h6 class="comment-name by-author"><%= post.user.first_name %> <%= post.user.last_name %></h6>
                            <span><%= (Date.today - post.created_at.to_date).to_i  %> days ago</span>
                            <i class="fa-solid fa-comment" data-action="click->comments#toggle"></i>
                            <i>
                              <% like = current_user.likes.find_by(post: post) %>
                              <% if like.nil? %>
                                <%= button_to likes_path,
                                              params: { like: { post_id: post.id } },
                                              style:"border: none; background: none; width: 16px;",
                                              remote: true,
                                              method: :post do %>
                                  <i class="fa-solid fa-hand-peace"></i>
                                <% end %>
                              <% else %>
                                <%= button_to like_path(like),
                                              style:"border: none; background: none; width: 16px;",
                                              method: :delete do %>
                                  <i class="fa-solid fa-hand-peace" style="color: #ff0000;"></i>
                                <% end %>
                              <% end %>
                            </i>
                            <i><%= post.likes.count %></i>
                          </div>
                          <div class="comment-content">
                            <%= post.content %>
                          </div>
                        </div>
                      </div>
                      <ul class="comments-list reply-list">
                          <% post.comments.each do |comment| %>
                            <li>
                              <div class="comment-avatar">
                                  <%= image_tag comment.user.profile_img %>
                              </div>
                              <div class="comment-box">
                                <div class="comment-head">
                                  <h6 class="comment-name">
                                    <%= comment.user.first_name %> <%= comment.user.last_name %>
                                    <span class="float-none mx-2">
                                      <%= (Date.today - comment.created_at.to_date).to_i %> days ago
                                    </span>
                                </div>
                                <div class="comment-content">
                                  <%= comment.content %>
                                </div>
                              </div>
                          <% end %>
                            <div data-comments-target="form" class="d-none">
                              <%= simple_form_for [post, @comment] do |f| %>
                                <%= f.input :content %>
                                <%= f.submit class: "btn btn-primary border-0 my-3 rounded-3" %>
                              <% end %>
                            </div>
                            </li>
                      </ul>
                    </div>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 d-grid">
        <div class="card-helper p-2">
          <div class="owner my-3">
            <h2>Owner</h2>
            <div class="d-flex flex-column px-4 py-1 align-items-start">
              <p>
                <%= image_tag @event.user.profile_img, class: "avatar-large mx-2" %> <%= @event.user.first_name %> <%= @event.user.last_name %>
              </p>
            </div>
          </div>
          <div class="helper">
            <h2 class="py-3">Helpers</h2>
              <div class="d-flex flex-column px-4 py-1 align-items-start">
                <% @participants.each do |participant| %>
                  <p>
                  <%= image_tag participant.user.profile_img, class: "avatar-large mx-2" %> <%= participant.user.first_name %> <%= participant.user.last_name %>
                  </p>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
