<div class="p-5 border mx-5 d-flex justify-content-left mt-5">
  <div class="d-inline-flex align-items-center px-4">
    <img src=<%=@event.event_img%> class="img-fluid" alt="...">
      <div class="flex-column p-4">
        <h1><strong><%= @event.title %></strong></h1>
        <h2><%= @event.description %></h2>
        <p>Event date: <%= @event.event_date %></p>
        <%= simple_form_for [@event, @participant] do |f| %>
          <%= f.submit class: "btn btn-primary border-0 my-3 rounded-3" %>
        <% end %>
      </div>
  </div>
</div>
<div class="p-5 border mx-5">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h2>Add a post</h2>
          <%= simple_form_for [@event, @post] do |f| %>
            <%= f.input :content %>
            <%= f.submit class: "btn btn-primary border-0 my-3 rounded-3" %>
          <% end %>
          <h4>Posts:</h4>
          <% @posts.each do |post| %>
            <div class="row row-cols-1 row-cols-md-2 my-3">
              <div class="col w-100">
                <div class="card">
                  <div class="card-body d-flex">
                    <div class="profile-pic">
                      <%= image_tag post.user.profile_img, class: "avatar-large" %>
                    </div>
                    <div class="content-card">
                      <div class="user-name">
                        <h5 class="card-title m-3"><%= post.user.first_name %> <%= post.user.last_name %></h5>
                      </div>
                      <div class="post-content border m-3">
                        <p class="card-text"><%= post.content %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card d-flex justify-content-center">
        <h2><strong>Helpers</strong></h2>
          <div class="helper-pic d-flex justify-content-between p-5">
            <% @participants.each do |participant| %>
              <%= image_tag participant.user.profile_img, class: "avatar-large" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
